.margin{
	margin-left: 500px;
	margin-right: 500px;
	margin-top: 250px;
	margin-bottom: 500px;
}
.center{
text-align: center;
}

.color{
	color:brown;
}
/***********************************text*******************************************/
.font{
	font-family: 'Cinzel', serif;
	font-size: 50px;
	color: brown;
}
/*.space{
	margin-top: 50px;
}*/

